/* GLOBALS */

:root {
  /* VARIABLES */
  /* colors */

  --clr-primary-50: #f4f9f7;
  --clr-primary-100: #daede6;
  --clr-primary-200: #b5dace;
  --clr-primary-300: #88c0b0;
  --clr-primary-400: #5fa290;
  --clr-primary-500: #468676;
  --clr-primary-600: #366b5f;
  --clr-primary-700: #2b5149;
  --clr-primary-800: #284741;
  --clr-primary-900: #253c38;
  --clr-primary-950: #112220;

  --txt-light: var(--clr-primary-50);
  --txt-dark: var(--clr-primary-950);
  --txt-small: #777;

  --link-hover-light: var(--clr-primary-200);
  --link-hover-dark: var(--clr-primary-600);

  --btn-dark: linear-gradient(var(--clr-primary-400), var(--clr-primary-600));
  --btn-dark-hover: linear-gradient(var(--clr-primary-300), var(--clr-primary-500));
  --btn-dark-active: linear-gradient(var(--clr-primary-500), var(--clr-primary-700));
  --btn-box-shadow: inset 0 2px 0 0 hsla(0, 0%, 100%, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.25), 0 2px 6px 0 rgba(0, 0, 0, 0.1);

  /* office colors */
  --clr-office-50: #ecf3ff;
  --clr-office-100: #dce8ff;
  --clr-office-200: #bfd2ff;
  --clr-office-300: #98b4ff;
  --clr-office-400: #708aff;
  --clr-office-500: #4f60ff;
  --clr-office-600: #3439fc;
  --clr-office-700: #2324df;
  --clr-office-800: #1f22b4;
  --clr-office-900: #22278d;
  --clr-office-950: #141552;

  /* fonts */
  --font-heading-1: 6rem Helvetica, sans-serif;
  --font-subhead-1: 3rem Georgia, serif;
  --font-heading-2: 2.2rem Helvetica, sans-serif;
  --font-subhead-2: 1.1rem Georgia, serif;
  --font-heading-3: 2rem Georgia, serif;
  --font-heading-4: 1.2rem Helvetica, sans-serif;
  --font-body-text: 16px Georgia, serif;
  --font-article-link: 20px bold Helvetica, sans-serif;
  --font-small-text: 0.9rem Georgia, serif;

  /* sizes */
  --mobile-breakpoint: 1080px;

  /* office sizes */
  --width-sidebar: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c3c3c3;
  font: var(--font-body-text);
}

h1 {
  font: var(--font-heading-1);
  font-weight: 600;
}

h2 {
  font: var(--font-heading-2);
  font-weight: 600;
}

h3 {
  font: var(--font-heading-3);
}

h4 {
  font: var(--font-heading-4);
  font-weight: 600;
}

/* mobile */
@media screen and (max-width: 1080px) {
  body {
    width: 100vw;
  }
}
